/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2015, 1:50:59 PM
    Author     : Jeff
*/



legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
}


#center{
    text-align:center;
}

form {

    border-radius: 5px;
    padding: 20px;
    background: #F0FFFF;
    width: 15%;

    margin: 0 auto;
}